/* .example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 2rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; 
} */

.error {
	color: #FF0000;
	text-align: left;
	vertical-align: sub;
	font-size: 1.5rem;
	text-transform: uppercase;	
}

.mandatory {
	color: #FF0000;
	display: inline;
	font-size: 2rem;
}

label {
	display: inline-block;
}

.vertical-line {
	border-left: 1px solid #D1D1D1;
	margin-left: 8%;
	margin-right: 2%;
}

.right-of-separator {
	margin-left: 0%;
}

.button {
	margin-top: 4%;
}


